name: Verify

on:
  workflow_dispatch:

jobs:
  verify:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          persist-credentials: false

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install SnarkJS
        run: |
          npm i -g snarkjs

      - name: Install requirements
        run: |
          sudo apt install -y wget gzip

      - name: Verify
        run: |
          make verify WGET_ARGS=-q REMOVE_PARAMS=1
